@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Exo', sans-serif;
}

.typewriter {
	top: 50%;
	left: 5%;
	position: absolute;
}

.typewriter h1 {
	font-size: 50px;
	border-right: 1px solid white;
	white-space: nowrap;
	overflow: hidden;
	width: 630px;
	white-space: nowrap;
	overflow: hidden;
	animation: typewriter 2s steps(25) 1s 1 normal both;
	position: relative;
}

.typewriter #line-1 {
	font-size: 30px;
	border-right: 1px solid white;
	white-space: nowrap;
	overflow: hidden;
	width: 565px;
	white-space: nowrap;
	overflow: hidden;
	animation: typewriter 3s steps(40) 1s 1 normal both;
	animation-delay: 3.5s;
}

#line-2 {
	border-right: 1px solid white;
	white-space: nowrap;
	overflow: hidden;
	width: 325px;
	white-space: nowrap;
	overflow: hidden;
	animation: typewriter 3s steps(40) 1s 1 normal both;
	animation-delay: 7s;
}

#coder-svg {
	display: block;
	width: 40%;
	margin-left: 50%;
	margin-top: 5%;
}

#coder {
	animation: dash 10s linear forwards;
	stroke-dasharray: 5000;
	stroke-dashoffset: 5000;
	float: right;
}

@keyframes dash {
	to {
		stroke-dashoffset: 10;
	}
}

#colors {
	opacity: 0;
	animation: colorIn 5s 8s ease-out forwards;
}

@keyframes colorIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 600px) {
	svg {
		width: 100%;
	}
}

@keyframes typewriter {
	0% {
		width: 0;
		border-right: none;
	}
	0.1% {
		border-right: 1px solid rgb(220, 220, 220);
	}
	99.9% {
		border-right: 1px solid rgb(220, 220, 220);
	}
	100% {
		border: none;
	}
}

.context {
	width: 100%;
	position: absolute;
	top: 20%;
}

.context h1 {
	text-align: center;
	color: #fff;
	font-size: 50px;
}

.online-accounts {
	/* width: 30%; */
	float: left;
	text-align: center;
	display: flex;
	margin: 0%;
	top: 45%;
	left: 15%;
	position: absolute;
	box-sizing: inherit;
	z-index: 1;
	animation: mymove 15s none;
	animation-delay: 0s;
}

@keyframes mymove {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

svg:not(:root) {
	overflow: hidden;
}

a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
}

.jss17 {
	/* position: relative; */
	fill: #fff;
	width: 30px;
	height: 25px;
	padding: 0 8px;
}

.header {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	background-color: rgb(48, 152, 243);
	color: rgb(220, 220, 220);
	padding: 0;
	margin: 0%;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: flex;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0);
	animation: animate 30s alternate-reverse infinite;
	bottom: -150px;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.circles li:nth-child(1) {
	left: 75%;
	width: 110px;
	height: 30px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(2) {
	left: 60%;
	width: 150px;
	height: 30px;
	animation-delay: 1s;
	animation-duration: 18s;
}

.circles li:nth-child(3) {
	left: 45%;
	width: 130px;
	height: 30px;
	animation-delay: 2s;
	animation-duration: 18s;
}

.circles li:nth-child(4) {
	left: 30%;
	width: 180px;
	height: 30px;
	animation-delay: 1s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 15%;
	width: 180px;
	height: 30px;
	animation-delay: 0s;
}

.context h2 {
	text-align: center;
	color: #fff;
	font-size: 25px;
}

@keyframes slide {
	0% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0.5;
		border-radius: 0;
	}
	100% {
		transform: translateY(-1000px) rotate(0deg);
		opacity: 0.2;
		border-radius: 50%;
	}
}
